@use '../styles/vars.scss';

.container {
  padding-top: vars.$bodyTopPadding;

  position: fixed;
  max-width: inherit;
  width: 100%;

  background-color: vars.$backgroundColor;
  z-index: 1;
}

.header {
  display: grid;
  grid-template-columns: auto max-content;

  background-color: aliceblue;
  padding: vars.$headerVerticalPadding 3rem;

  height: vars.$headerHeight;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;
    list-style: none;

    li {
      margin-left: 1.4rem;
      font-size: 1.4rem;
    }
  }
}
