.header {
  display: grid;
  grid-template-columns: auto max-content;

  background-color: aliceblue;
  padding: 1rem 3rem;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;
    list-style: none;

    li {
      margin-left: 1.4rem;
      font-size: 1.4rem;
    }
  }
}
